OPENAI_KEY= # Your OpenAI API key goes here DO NOT COMMIT THIS FILE TO VERSION CONTROL!
# THE VERSION YOU HAVE SHOULD BE IN YOUR LOCAL NAMED ".env" WITH THE KEY AND NEVER PUSHED! 

DB_HOST= #localhost
DB_USER= #root
DB_PASSWORD= # yourpassword
DB_NAME= #rag_app