# Python cache
__pycache__/
*.pyc

# ChromaDB storage. This is temporary data so we dont want confusion with overwriting or accident commits. 
# ChromaDB will later be replaced with a more robust vector database solution, but for now this is where the data is stored.
chroma_storage/
*.sqlite3

# Environment variables
.env
